<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google Drive</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="logo.png" id="favicon">
  <script src="/javascript/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body class="initial">
<div class="col-md-12">
  <h2 class="text-sm-center"><font style="font-family: Arial">Configuração</font></h2>

  <p><font style="font-family: Arial">Clique em <strong>Avançar</strong> para iniciar a configuração do Google Drive.</font></p>

  <div class="text-sm-right">
    <a class="btn btn-primary" href="/settings"><font style="font-family: Arial">Avançar</font></a>
  </div>
</div>

</body>
